html, body, #home{
    height: 100%;
    overflow-x: hidden;
}
li{
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}